/* Margen superior lo que ocupa el header */
.headerSpace {
	position: relative;
	margin-top: 110px;
	margin-bottom: 0px;
	margin-right: 10px;
	margin-left: 10px;
}

.posicionToast {
	position: absolute;
	display: block;
	bottom: 20px;
	right: 20px;
	background: #f03535e0 !important;
}