
/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Descripcion"; }
	td:nth-of-type(2):before { content: "Duracion"; }
	td:nth-of-type(3):before { content: "Espectadores Min"; }
	td:nth-of-type(4):before { content: "Espectadores Max"; }
	td:nth-of-type(5):before { content: "Costo"; }
	td:nth-of-type(6):before { content: "Fecha Registro"; }
	td:nth-of-type(7):before { content: "#"; }
	td:nth-of-type(8):before { content: "Nombre"; }
	td:nth-of-type(9):before { content: "Fecha"; }
	td:nth-of-type(10):before { content: "Hora Inicio"; }
	td:nth-of-type(11):before { content: "Fecha Registro"; }
	td:nth-of-type(12):before { content: "Artistas"; }
	td:nth-of-type(13):before { content: "#"; }
	td:nth-of-type(14):before { content: "Nombre"; }
	td:nth-of-type(15):before { content: "Descripcion"; }
	td:nth-of-type(16):before { content: "Fecha Inicio"; }
	td:nth-of-type(17):before { content: "Fecha Fin"; }
	td:nth-of-type(18):before { content: "Fecha Alta"; }
	td:nth-of-type(19):before { content: "Descuento"; }	
}